bin
build
catkin
catkin_generated
CMakeFiles
Makefile
CMakeCache.txt
gtest
.rosinstall
CATKIN_IGNORE
cmake_install.cmake
devel
setup.bash
setup.sh
setup.zsh
mainpage.dox
ros-git-fix.sh
srv_gen
srv_gen/generated
src/CamTrap_Viper/

#ignore atmel build files
rosserial/src/*.eep
rosserial/src/*.elf
rosserial/src/*.hex
rosserial/src/*.lss
rosserial/src/*.lst
rosserial/src/*.map
rosserial/src/*.o
rosserial/src/*.sym

rosserial/src/.dep/*.o.d
rosserial/src/ros_lib/*.lst
rosserial/src/ros_lib/*.o

