<launch>
	<node pkg="CamTrap_Viper" type="hypervisor" name="hypervisor"/>
	<node pkg="CamTrap_Viper" type="cvsim" name="cvsim"/>
	<node pkg="CamTrap_Viper" type="webcam" name="webcam"/>	
	<node pkg="CamTrap_Viper" type="com" name="com"/>
	<node pkg="CamTrap_Viper" type="motors" name="motors"/>
	<node pkg="CamTrap_Viper" type="log" name="log"/>
</launch>
